@font-face {
  font-family: "Sora";
  src: url(/fonts/Sora/Sora-VariableFont_wght.ttf);
}
:root {
  --background-day: #f9f9f9;
  --day1: #e0e0e0;
  --day2: #757575;
  --day3: #333333;
  --background-night: #121212;
  --night1: #303030;
  --night2: #424242;
}
* {
  font-family: "Sora", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  border-spacing: 0;
  font-size: 16px;
  font-weight: normal;
  list-style: none outside none;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  color: var(--day1);
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.hidden {
  display: none !important;
}
body {
  width: 100%;
  height: 100dvh;
  background-color: var(--background-night);
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.calendar {
  min-width: 600px;
  height: fit-content;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.calendar svg {
  border: 1px solid transparent;
  color: var(--day1);
}
.calendar svg:hover {
  background-color: var(--day2);
  border-radius: 50%;
  transition: background-color 0.2s cubic-bezier(0.52, 0.38, 0.95, 0.8);
}

.switch-calendar {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.switch-calendar div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#info-select {
  width: 10rem;
  text-align: center;
}

select {
  width: 8rem;
  height: 2rem;
  background-color: inherit;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  background-repeat: no-repeat;
}
select option {
  width: 100%;
  border: 1px solid transparent;
  background-color: var(--background-night);
  text-align: center;
  font-size: 0.8rem;
}

#switch-theme {
  width: 48px;
  height: 2rem;
  border-radius: 2rem;
  background-color: var(--night2);
  border: 1px solid transparent;
  display: flex;
}
#switch-theme:hover {
  border: 1px solid var(--day1);
}
#switch-theme svg {
  background-color: var(--day3);
  border-radius: 2rem;
  margin-inline: 3px;
}

/* MONHTHLY SELECTION */
.calendar-monthly {
  min-height: 40rem;
  max-height: 40rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 2rem repeat(6, 1fr);
  grid-gap: 1px;
}
.calendar-monthly_day {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calendar-monthly_day_number {
  display: flex;
  flex-direction: column;
  background-color: var(--day3);
  font-size: 0.8rem;
  border: 1px solid transparent;
  transition: all 0.2s cubic-bezier(0.52, 0.38, 0.95, 0.8);
}
.calendar-monthly_day_number:hover,
.calendar-monthly_day_number_out-of-month:hover {
  border: 1px solid var(--day1);
  background-color: var(--day2);
}
.calendar-monthly_day_number_out-of-month {
  display: flex;
  flex-direction: column;
  background-color: var(--day3);
  font-size: 0.8rem;
  opacity: 0.5;
  border: 1px solid transparent;
  transition: all 0.2s cubic-bezier(0.52, 0.38, 0.95, 0.8);
}
.calendar-monthly_day_number_p {
  width: 100%;
  height: 1.2rem;
  font-size: 0.8rem;
  padding: 0 0.1rem;
  display: flex;
  align-items: center;
  transition: all 0.2s cubic-bezier(0.52, 0.38, 0.95, 0.8);
}
:is(
    .calendar-monthly_day_number,
    .calendar-monthly_day_number_out-of-month
  ):hover
  .calendar-monthly_day_number_p {
  padding: 0 1rem;
}

/* WEEKLY SELECTION */
.calendar-weekly {
  height: 40rem;
  width: 100%;
}
.calendar-weekly_day {
  background-color: var(--day3);
  display: flex;
  width: 100%;
  height: 100%;
}
.calendar-weekly_day_number {
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 100%;
  border: 1px solid transparent;
  border-left: 1px solid var(--background-night);
  border-top: 1px solid var(--background-night);
  border-bottom: 1px solid var(--background-night);
  text-align: center;
  transition: all 0.2s cubic-bezier(0.52, 0.38, 0.95, 0.8);
}
.calendar-weekly_day_number:hover {
  border: 1px solid var(--day1);
  background-color: var(--day2);
}
.calendar-weekly_day_number:last-of-type {
  border-right: 1px solid var(--background-night);
}
.calendar-weekly_day_number_p {
  height: 1.6rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* DAY SELECTION */
.calendar-day {
  height: 40rem;
  width: 100%;
}
.calendar-day_day {
  height: 2rem;
  display: flex;
  justify-content: space-between;
}
.calendar-day_day_number,
.calendar-weekly_numbers {
  width: 60%;
  height: 2rem;
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calendar-day_horarios {
  height: 100%;
  background-color: var(--day3);
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: repeat(12, 1fr);
}
.calendar-day_horarios_horarios {
  height: 100%;
  grid-area: 1 / 1 / 13 / 2;
  border: 1px solid var(--background-night);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.calendar-day_horarios_horarios span {
  padding: 3rem 0;
  display: block;
}

.calendar-day_horarios_2hs {
  height: 100%;
  border-top: 1px solid var(--background-night);
  border-right: 1px solid var(--background-night);
}
.calendar-day_horarios_2hs div {
  height: 100%;
  width: 100%;
  padding-left: 2rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  transition: all 0.2s cubic-bezier(0.52, 0.38, 0.95, 0.8);
}

.calendar-day_horarios_2hs h3 {
  width: 10rem;
  font-size: 1.1rem;
}
.calendar-day_horarios_2hs p {
  width: 10rem;
  font-size: 0.8rem;
}
.calendar-day_horarios_2hs:last-of-type {
  border-bottom: 1px solid var(--background-night);
}

/* YEARLY SELECTION */
.calendar-yearly {
  height: 40rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 1rem;
}
.calendar-yearly_month_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}
.calendar-yearly_month_container h3 {
  margin-bottom: 2px;
}
.calendar-yearly_month {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
}
.calendar-yearly_month_day.empty {
  visibility: hidden;
  pointer-events: none;
}
.calendar-yearly_month_day {
  height: 1.3rem;
  aspect-ratio: 1 / 1;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;

  border-radius: 50%;
  cursor: pointer;
}
.calendar-yearly_month_day:hover {
  background-color: var(--day2);
}

/* DATOS STYLE */
.calendar_day_datos,
.calendar_day_datos_weekly {
  width: 100%;
  height: 1.4rem;
  font-size: 0.8rem;
  margin: 1px 0;
  border-radius: 1rem;
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s cubic-bezier(0.52, 0.38, 0.95, 0.8);
}

.calendar_day_datos_weekly {
  height: 4rem;
}
.calendar_day_datos:hover,
.calendar_day_datos_weekly:hover,
.calendar-day_horarios_2hs div:hover {
  border-bottom: 1px solid var(--day1);
  border-top: 1px solid var(--day1);
  border-radius: 0;
}

/* NEW TASK */
#new-day-activity {
  height: fit-content;
  width: fit-content;
  position: absolute;
  left: middle;
  top: middle;
  border-radius: 1rem;
  padding: 1rem;
  background-color: var(--day2);
  display: flex;
  flex-direction: column;
}
#new-day-activity select,
#new-day-activity #datetime-local {
  width: 90%;
  height: 2rem;
  text-align: center;
  outline: none;
}
#new-day-activity button,
#new-day-activity button svg {
  outline: none;
  border: none;
  stroke: var(--background-day);
}
#new-day-activity button:hover,
#new-day-activity button:hover svg {
  background-color: var(--background-night);
}
#new-day-activity div {
  width: 90%;
  height: 2rem;
  margin: 0.5rem;

  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

#new-day-activity div button svg {
  margin: 0;
}
/* ACTIVITY SECTION */

.activity {
  height: fit-content;
  width: fit-content;
  background-color: var(--day3);
  margin: 1rem;
  border-radius: 1rem;
  align-self: center;
}

.activity_title {
  width: 100%;
  padding: 0.5rem;
  border-bottom: 1px solid black;
  display: flex;
  align-items: end;
  justify-content: space-evenly;
}
#place-activity svg:hover {
  border-radius: 100%;
  background-color: var(--background-night);
  cursor: pointer;
  transition: background-color 0.2s cubic-bezier(0.52, 0.38, 0.95, 0.8);
}

.activity_activities {
  height: 100%;
  width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.activity_activities_individual {
  width: 80%;
  padding: 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: start;
}
.activity_name-of-activity {
  width: 100%;
  padding-left: 1rem;
}
.activity_activities_individual button {
  justify-self: end;
}

/* NEW ACTIVITY FORM */
.activity_new-activity {
  height: fit-content;
  max-width: 20rem;
  width: 100%;
  background-color: var(--day3);
  border-end-end-radius: 1rem;
  border-end-start-radius: 1rem;
}
.activity_new-activity form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid black;
}
.activity_new-activity form *,
#new-day-activity * {
  margin: 0.5rem;
  font-size: 0.9rem;
  border: 1px solid var(--background-night);
  border-radius: 0.5rem;
}
.activity_new-activity form input {
  height: 2rem;
  max-width: 100%;
  margin: 0.5rem;

  background-color: var(--background-night);
  outline: 1px solid transparent;
}
.activity_new-activity form textarea {
  min-width: 15rem;
  max-width: 19rem;
  min-height: 5rem;
  max-height: 5rem;
  margin: 0.5rem;
  background-color: var(--background-night);
  outline: 1px solid transparent;
}
.activity_new-activity form input:focus,
.activity_new-activity form textarea:focus {
  outline: 1px solid var(--background-night);
}
.activity_new-activity form textarea,
.activity_new-activity form input {
  padding: 0.3rem;
}
.activity_new-activity form div {
  border: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.activity_new-activity #new-activity input:first-of-type,
#new-day-activity div input:first-of-type {
  border: none;
  outline: none;
  height: 2rem;
}
.activity_new-activity form div input,
#new-day-activity div input:first-of-type {
  width: 30%;
  margin: 0;
  padding: 0;
  background-color: transparent;
}
.activity_new-activity form .save-activity,
#new-day-activity div .save-activity {
  width: 50%;
  height: 2rem;
  border-radius: 1rem;
  align-self: center;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s cubic-bezier(0.52, 0.38, 0.95, 0.8);
}
.activity_new-activity form .save-activity:hover,
#new-day-activity .save-activity:hover {
  background-color: var(--background-night);
}

/* MEDIAS QUERIES  */

@media (max-width: 900px) {
  body {
    margin-top: 1rem;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .switch-calendar {
    justify-content: space-around;
  }

  .activity {
    width: fit-content;
    display: flex;
    flex-direction: column;
  }

  .activity_title {
    height: 100%;
    align-items: start;
  }
  .activity_title button {
    height: 100%;
  }
}

@media (max-width: 610px) {
  body {
    width: 100%;
    margin: 0rem;
  }

  .calendar {
    min-width: 90%;
    width: 90%;
  }
  #info-select {
    width: 5rem;
  }
  .switch-calendar_change-view {
    width: 6rem;
  }
}
